.additional__title {
  color: #000000;
  font-family: $oswald-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.additional__product-title {
  color: #222222;
  font-family: $oswald-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional__product-table {
  line-height: 14px;
  width: 100%;
  font-size: 14px;

  th {
    text-align: left;
  }

  td {
    text-align: right;
  }
}

.additional__btn {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .additional__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional__product-table {
    width: 300px;

    th {
      text-align: right;
    }

    td {
      width: 100px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional__container {
    display: flex;
    justify-content: space-between;
  }

  .additional__inner {
    width: 894px;
  }

  .additional__gift {
    width: 245px;
  }

  .additional__btn {
    width: 244px;
  }

  .additional__product {
    align-items: center;
  }
}
