.additional__title {
  color: #000000;
  font-family: $oswald-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  position: relative;
  z-index: 3;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 34px;
}

.additional__product-title {
  color: #222222;
  font-family: $oswald-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.additional__product-table {
  line-height: 14px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 12px;

  th {
    text-align: left;
  }

  td {
    text-align: right;
  }
}

.additional__btn {
  display: block;
  width: 100%;
}

.additional {
  position: relative;
  padding-top: 26px;

  &::before {
    @include pseudo;
    width: 100%;
    height: 2px;
    background-color: $basic-green;
    top: 40px;
    left: 0;
  }
}

.additional__wrapper {
  display: flex;
  padding: 0;
}

.additional__product {
  border-top: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 18px;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional__gift {
  margin-top: 35px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .additional__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding: 26px 38px 28px 38px;
  }

  .additional__product-table {
    width: 300px;
    font-size: 16px;
    line-height: 20px;

    th {
      text-align: right;
    }

    td {
      width: 100px;
    }
  }

  .additional__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .additional__product-title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional {
    &::before {
      top: 48px;
    }
  }

  .additional__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .additional__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .additional {
    padding-bottom: 87px;
  }

  .additional__inner {
    width: 894px;
  }

  .additional__gift {
    width: 245px;
  }

  .additional__btn {
    width: 244px;
  }

  .additional__title {
    margin-bottom: 80px;
  }

  .additional__product {
    align-items: center;
    border-right: none;
    border-left: none;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
  }

  .additional__product-title {
    margin: 0;
    margin-right: auto;
  }

  .additional__product-table {
    margin: 0;

    th {
      text-align: left;
    }

    td {
      text-align: left;
    }
  }
}
