
.btn {
  color: #ffffff;
  text-align: center;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic-green;
  padding: 10px;
  display: inline-block;

  &--small {
    font-size: 14px;
  }

  &:hover {
    background-color: $basic-green-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    opacity: 0.3;
    color: #ffffff;
    background-color: $basic-green;
  }
}


@media (min-width: $tablet-width) {
  .btn--small {
    font-size: 20px;
  }
}
