.footer__desc {
  color: #111111;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
}

.footer__contacts {
  line-height: 20px;
  width: 140px;
}

.footer__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;

  &:active {
    opacity: 0.3;
  }

  &:hover svg,
  &:focus-visible svg {
    fill: $basic-green;
  }
}

.footer__link span {
  color: $special-dark-grey;
  font-size: 16px;
  line-height: 20px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 11px;
}

.footer__container {
  background-color: #f2f2f2;

  &--index {
    background-color: #ffffff;
  }
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer {
  background-color: #f2f2f2;
}

.footer__logo {
  margin-bottom: 12px;

  svg {
    width: 128px;
    fill: #111111;
    height: 24px;
  }

  &:hover svg {
    fill: #3e3e3e;
  }

  &:active svg {
    fill: #6b6b6b;
  }
}

@media (min-width: $tablet-width) {
  .footer__navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .footer__logo {
    margin: 0;
    margin-right: 36px;
    padding-top: 4px;
  }

  .footer__link {
    width: 162px;
    margin: 0;
  }

  .footer__desc {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
  }

  .footer__contacts {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 165px;

    span {
      display: block;
      padding-top: 20px;
    }
  }

  .footer__wrapper {
    padding: 43px 40px 40px 40px;
  }
}

@media (min-width: $desktop-width) {
  .footer__container {
    position: relative;
    background-color: #ffffff;
  }

  .footer__wrapper {
    position: absolute;
    top: 95px;
    left: 40px;
    width: 565px;
    background-color: #ffffff;
    padding: 60px 70px 60px 80px;
    z-index: 3;
  }

  .footer__desc {
    margin: 0;
  }

  .footer__contacts {
    margin: 0;
    text-align: left;
  }

  .footer__navigation {
    padding-top: 54px;
    padding-bottom: 54px;
  }
}
