.form__label {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__control {
  color: $special-dark-grey;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::placeholder {
    opacity: 1;
    color: $special-dark-grey;
  }
}

.form__title {
  color: #000000;
  font-family: $oswald-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.form__required {
  color: #000000;
  line-height: 16px;
}

.form__fieldset {
  border: none;
}

.form__control--textarea {
  width: 100%;
  height: 150px;
}

@media (max-width: $mobile-width-only) {
  .form__container {
    padding-left: 0;
    padding-right: 0;

    .form__fieldset {
      padding-left: 20px;
      padding-right: 20px;
      border-bottom: 1px solid #d9d9d9;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .form__wrapper {
    .form__fieldset {
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  .form__container {
    .form__fieldset {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}

@media (min-width: $tablet-width) {
  .form__checkbox-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
  }

  .form__footer {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
  }

  .form__required {
    margin-left: 64px;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    display: flex;
    justify-content: space-between;

    .form__fieldset {
      width: 570px;
    }
  }

  .form__checkbox-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 80px;
  }

  .form__contact-container {
    display: flex;
    justify-content: space-between;
  }
}
