.inner-header__title {
  color: #000000;
  font-family: $oswald-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 37px;
}

.inner-header__desc {
  color: #000000;
  font-family: $oswald-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.inner-header {
  padding-top: 27px;
  padding-bottom: 4px;
  border-top: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .inner-header--form {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: $tablet-width) {
  .inner-header__title {
    font-size: 60px;
    line-height: 60px;
  }

  .inner-header {
    border-top: none;
  }
}
