
.navigation__link {
  text-decoration: none;
  color: #000000;
  font-family: $oswald-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.navigation__list {
  @include list;
}

.navigation {
  display: none;
}

@media (min-width: $tablet-width) {
  .navigation {
    display: block;
  }

  .navigation__list {
    display: flex;
  }

  .navigation__item {
    margin-left: 33px;
  }
}
