
.navigation__link {
  text-decoration: none;
  color: #000000;
  font-family: $oswald-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active,
  &--active:hover,
  &--active:active {
    opacity: 1;
  }
}

.navigation__list {
  @include list;
}

.navigation {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .navigation__item {
    border-top: 1px solid #e6e6e6;
  }

  .navigation__link {
    display: block;
    padding: 22px 20px 24px 20px;
    text-align: center;
  }

  .navigation--closed {
    display: none;
  }

  .navigation--open {
    display: block;
    position: absolute;
    background-color: #ffffff;
    top: 64px;
    right: 0;
    left: 0;
    margin: 0;
  }

  .navigation--no-js {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    display: block;
  }

  .navigation__list {
    display: flex;
  }

  .navigation__item {
    margin-left: 29px;
    margin-right: 5px;
  }

  .navigation__link {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 6px;

    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }
}


@media (min-width: $desktop-width) {
  .navigation {
    .navigation__link {
      font-size: 20px;
    }

    &--index {
      .navigation__link {
        color: #ffffff;

        &--active {
          border-bottom: 2px solid #ffffff;
        }
      }
    }
  }

  .navigation__item {
    margin-right: 0;
    margin-left: 34px;
  }
}
