.product__link {
  text-decoration: none;
  color: #222222;
  font-family: $oswald-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product__table {
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  border-collapse: collapse;

  th {
    font-weight: 400;
    text-align: left;
    padding: 0;
  }

  td {
    text-align: right;
    padding: 0;
  }
}

.product__title {
  color: #111111;
  font-family: $oswald-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 80px;
  margin-top: 0;
  margin-bottom: 14px;
}

.product--add {
  text-align: center;
  border-bottom: 1px solid #ebebeb;

  .product__title {
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.product__wrapper {
  width: 100%;
  padding-top: 58px;
  position: relative;

  &::before,
  &::after {
    @include pseudo;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    transform: translateX(-50%) rotate(90deg);
  }
}

.product__description {
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

.product {
  border-top: 1px solid #ebebeb;
  padding: 20px 20px 24px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product__btn {
  width: 100%;
  margin-top: 13px;
}

.product__desc {
  width: 50%;
}

@media (min-width: $tablet-width) {
  .product {
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #ffffff 81px, #f2f2f2 81px);
    border-top: none;
    padding: 10px 37px 40px 37px;
  }

  .product__desc {
    width: 100%;
  }

  .product__title {
    text-align: center;
    width: 135px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 24px;
  }

  .product__link {
    font-size: 20px;
    line-height: 24px;
  }

  .product__table {
    font-size: 16px;
    line-height: 20px;
    border-collapse: collapse;
    margin-bottom: 32px;

    th {
      padding-bottom: 5px;
      padding-top: 5px;
      border-bottom: 1px solid #cdcdcd;
    }

    td {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid #f2f2f2;
    width: 100%;
    flex-grow: 1;
    padding-top: 160px;
    padding-bottom: 37px;
    padding-left: 35px;
    padding-right: 35px;

    &::after,
    &::before {
      width: 60px;
      top: 79px;
    }
  }

  .product--add {
    background-image: none;
    padding: 0;
    padding-top: 81px;

    .product__title {
      width: 170px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 23px;
    }
  }

  .product__description {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  .product__btn {
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
  }

  .product__img {
    margin-bottom: 16px;
  }
}


@media (min-width: $desktop-width) {
  .product {
    padding: 10px 20px 40px;
    width: 245px;
  }

  .product__desc {
    padding: 0 17px;
  }

  .product__img {
    margin-bottom: 5px;
  }

  .product__title {
    margin-bottom: 19px;
  }

  .product__table {
    th {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    td {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  .product__btn {
    margin: 0 auto;
    width: 169px;
  }

  .product--add {
    padding: 0;
    padding-top: 81px;
  }

  .product__wrapper {
    padding-top: 149px;
  }
}
