.product__link {
  text-decoration: none;
  color: #222222;
  font-family: $oswald-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product__table {
  font-size: 12px;
  line-height: 16px;
  width: 100%;

  th {
    font-weight: 400;
    text-align: left;
  }

  td {
    text-align: right;
  }
}

.product__title {
  color: #111111;
  font-family: $oswald-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 80px;
}

.product--add {
  .product__title {
    text-align: center;
  }
}

.product__description {
  font-size: 12px;
  line-height: 16px;
}

.product {
  border-top: 1px solid #ebebeb;
  padding: 20px 20px 25px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product__btn {
  width: 100%;
}

.product__desc {
  width: 50%;
}

@media (min-width: $tablet-width) {
  .product {
    flex-direction: column;
  }
}
