.program__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .program__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

  .program__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
