.program-card__title {
  color: #000000;
  font-family: $oswald-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.program-card__link {
  color: #000000;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.program-card {
  background-color: #f2f2f2;
  padding: 30px 20px 20px 20px;
}

@media (min-width: $tablet-width) {
  .program-card {
    padding: 77px 316px 57px 52px;
  }
}

@media (min-width: $desktop-width) {
  .program-card {
    padding: 77px 61px 59px 52px;
    width: 570px;
  }
}
