@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  color: #444444;
  line-height: 18px;
  background-color: #ffffff;
  margin: 0;
  min-width: 320px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}
.container {
  min-width: 320px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1300px;
  }
}

.additional__title {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.additional__product-title {
  color: #222222;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional__product-table {
  line-height: 14px;
  width: 100%;
  font-size: 14px;
}
.additional__product-table th {
  text-align: left;
}
.additional__product-table td {
  text-align: right;
}

.additional__btn {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .additional__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional__product-table {
    width: 300px;
  }
  .additional__product-table th {
    text-align: right;
  }
  .additional__product-table td {
    width: 100px;
  }
}
@media (min-width: 1440px) {
  .additional__container {
    display: flex;
    justify-content: space-between;
  }

  .additional__inner {
    width: 894px;
  }

  .additional__gift {
    width: 245px;
  }

  .additional__btn {
    width: 244px;
  }

  .additional__product {
    align-items: center;
  }
}
.btn-gray {
  color: #444444;
  text-align: center;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f2f2f2;
}

.btn {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
}
.btn--small {
  font-size: 14px;
}

@media (min-width: 768px) {
  .btn--small {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .catalog {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}
.example__title {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__info-item span {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.example__info-item p {
  font-size: 12px;
  line-height: 12px;
}

.example__info-price {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
}

.example {
  background-color: #eaeaea;
}

.example__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .example__info {
    justify-content: flex-start;
    align-items: center;
  }

  .example__info-price {
    width: 200px;
    margin-left: auto;
    font-size: 20px;
    text-align: right;
  }

  .example {
    background-color: transparent;
    background-image: linear-gradient(to top, #eaeaea 0%, #eaeaea 462px, #ffffff 462px, #ffffff 100%);
  }
}
@media (min-width: 1440px) {
  .example__container {
    display: flex;
    justify-content: space-between;
  }

  .example__wrapper {
    width: 440px;
  }

  .example__info-price {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }
}
.footer__desc {
  color: #111111;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
}

.footer__contacts {
  line-height: 20px;
  width: 140px;
}

.footer__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__link span {
  color: #444444;
  font-size: 16px;
  line-height: 20px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__container {
  background-color: #ffffff;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.footer {
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .footer__navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__link {
    width: 168px;
  }
}
@media (min-width: 1440px) {
  .footer__container {
    position: relative;
  }

  .footer__wrapper {
    position: absolute;
    top: 95px;
    left: 40px;
    width: 565px;
    background-color: #ffffff;
    padding: 60px 78px 60px 80px;
  }

  .footer__desc {
    margin: 0;
  }

  .footer__contacts {
    margin: 0;
  }
}
.form__label {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__control {
  color: #444444;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__control::placeholder {
  opacity: 1;
  color: #444444;
}

.form__title {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.form__required {
  color: #000000;
  line-height: 16px;
}

.form__fieldset {
  border: none;
}

.form__control--textarea {
  width: 100%;
  height: 150px;
}

@media (max-width: 767px) {
  .form__container {
    padding-left: 0;
    padding-right: 0;
  }
  .form__container .form__fieldset {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .form__wrapper .form__fieldset {
    padding-left: 70px;
    padding-right: 70px;
  }

  .form__container .form__fieldset {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (min-width: 768px) {
  .form__checkbox-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
  }

  .form__footer {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
  }

  .form__required {
    margin-left: 64px;
  }
}
@media (min-width: 1440px) {
  .form__container {
    display: flex;
    justify-content: space-between;
  }
  .form__container .form__fieldset {
    width: 570px;
  }

  .form__checkbox-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 80px;
  }

  .form__contact-container {
    display: flex;
    justify-content: space-between;
  }
}
.gift {
  background-color: #68b738;
}

.gift__desc {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 14px;
}

.header__burger {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .header__burger {
    display: none;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.inner-header__title {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.inner-header__desc {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .inner-header--form {
    padding-left: 70px;
    padding-right: 70px;
  }
}
.instruction__title {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.instruction__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.instruction__item {
  margin-bottom: 20px;
  padding-left: 80px;
  outline: 1px solid purple;
}

@media (min-width: 768px) {
  .instruction__list {
    display: grid;
    grid-template-columns: repeat(2, 249px);
    gap: 37px 135px;
  }

  .instruction__item {
    margin-bottom: 0;
    padding-top: 151px;
    padding-left: 0;
    padding-bottom: 57px;
  }
}
@media (min-width: 1440px) {
  .instruction__list {
    grid-template-columns: repeat(4, 249px);
    gap: 37px 77px;
  }
}
.map {
  text-align: center;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.navigation__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navigation {
  display: none;
}

@media (min-width: 768px) {
  .navigation {
    display: block;
  }

  .navigation__list {
    display: flex;
  }

  .navigation__item {
    margin-left: 33px;
  }
}
.product__link {
  text-decoration: none;
  color: #222222;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product__table {
  font-size: 12px;
  line-height: 16px;
  width: 100%;
}
.product__table th {
  font-weight: 400;
  text-align: left;
}
.product__table td {
  text-align: right;
}

.product__title {
  color: #111111;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 80px;
}

.product--add .product__title {
  text-align: center;
}

.product__description {
  font-size: 12px;
  line-height: 16px;
}

.product {
  border-top: 1px solid #ebebeb;
  padding: 20px 20px 25px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product__btn {
  width: 100%;
}

.product__desc {
  width: 50%;
}

@media (min-width: 768px) {
  .product {
    flex-direction: column;
  }
}
.program-card__title {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.program-card__link {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.program-card {
  background-color: #f2f2f2;
  padding: 30px 20px 20px 20px;
}

@media (min-width: 768px) {
  .program-card {
    padding: 77px 316px 57px 52px;
  }
}
@media (min-width: 1440px) {
  .program-card {
    padding: 77px 61px 59px 52px;
    width: 570px;
  }
}
.program__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .program__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .program__container {
    display: flex;
  }

  .program__item:not(:last-child) {
    margin-bottom: 0;
  }
  .program__item:nth-child(even) {
    margin-left: 80px;
  }
}
.promo {
  text-align: center;
  background-color: #68b738;
}

.promo__title {
  color: #ffffff;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.promo__desc {
  color: #ffffff;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .promo__container {
    position: relative;
    min-height: 600px;
  }
  .promo__container img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .promo {
    background-color: transparent;
    text-align: left;
  }

  .promo__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }

  .promo__desc {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .promo__container {
    min-width: 500px;
  }
  .promo__container img {
    right: 200px;
    left: auto;
  }
}
.slider__img--thin {
  display: none;
}

.social-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-list__link {
  width: 28px;
  height: 22px;
  display: block;
  outline: 1px solid indigo;
}

.social-list__item {
  margin-left: 12px;
  margin-right: 12px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */