body {
  font-family: $main-font;
  font-size: 14px;
  color: $special-dark-grey;
  line-height: 18px;
  background-color: #ffffff;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
